.myList{

    height:300px;
    background-color:lightblue;
    width:200px;

    float:left;
    border:thin black solid;
    position:fixed;
    left:1140px;
}

.filterBar{
    height:300px;
    width:196px;
    float:left;
    background-color:lightblue;
    border:thin black solid;
    position:fixed;
}

.movies{

    width:800px;
    float:left;
    position:relative;
    left:204px;
}

.container{

    height:600px;
    width:1200px;
    background-color:lightblue;
}

.grids{

    height:285px;
    width:194px;
    background-color:lightblue;
    float:left;

    border:thin black solid;
}

.info{

    height:50px;
    width:180px;

    float:left;

}

.year{

    height:50px;
    width:180px;

    float:left;

}

.gridImg{

    height:200px;
    width:100%;

}

.title{

    color:maroon;

    font-family: "Bebas Neue";

    font-size: 160px;

    margin-left:auto;
    margin-right:auto;

    width:400px;
}

.favs  {
    position:absolute;
    
}

.imbdScore{
    position: absolute;
    left:150px;
}